{
  # Data Lake (S3) region
  # This field is optional if it can be resolved with AWS region provider chain.
  # It checks places like env variables, system properties, AWS profile file.
  # https://sdk.amazonaws.com/java/api/latest/software/amazon/awssdk/regions/providers/DefaultAwsRegionProviderChain.html
  "region": "${region}",

  # SQS topic name used by Shredder and Loader to communicate
  "messageQueue": "${message_queue}",

  # Warehouse connection details
  "storage" : {
    # Redshift hostname
    "host": "db_host",
    # Database name
    "database": "db_name",
    # Database port. Optional, default value 5439
    "port": 5439,
    # AWS Role ARN allowing Redshift to load data from S3
    "roleArn": "db_role",
    # DB schema name
    "schema": "db_schema",
    # DB user with permissions to load data
    "username": "db_username",
    # DB password
    "password": "db_pass"
  }
}
